{% extends 'layouts/dashboard.html' %}

{% block content %}

    {% for error in errors %}
    <div class="alert alert-danger">
        {{error.message}}
    </div>
    {% endfor %}

    <!-- begin PAGE TITLE AREA -->
    <!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <div style="float:right"><a class="btn btn-red" href="/plants/delete/{{plant._id.toString()}}" onclick="return confirm('Êtes-vous sûrs ?');">Supprimer</a></div>
                <h1>
                    #{{plant.name}}
                    <small>{{plant.type}}</small>
                </h1>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- end PAGE TITLE AREA -->

    <div class="row">
        <div class="col-lg-12">

            <div class="portlet portlet-default">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Configuration</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="portlet-body">
                    1. Download the configuration application : Here
                    <hr/>
                    2. Download the file configuration : <a href="/plants/{{plant.id}}/config">Here</a>
                    <hr/>
                    3. Launch the configuration application and configure your plant.
                </div>
                <!-- /.portlet-body -->
            </div>
            <!-- /.portlet -->

        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}